########### Project rules  #######
##################################

#test controller to play with on localhost
protected/controllers/TestController.php

# local config data
protected/config/dbconnection.php
protected/config/local_config.php
protected/config/services.php
protected/config/config.php

#composer packages directory
protected/vendors/composerPackages/*
!protected/vendors/composerPackages/.empty
composer.lock

xhprof
########## General rules #########
##################################

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
.buildpath
nbproject
Thumbs.db
*.sublime-*

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea



#zend debugger
dummmy.php

#phing
build.xml