.codeblock
    background #E8F3FF
    margin 15px -40px 15px -25px
    clear both
    padding 10px 20px
    font-size 13px
    font-family Courier, "Courier New", monospace
    line-height 19px
    direction ltr

    .de1, .de2
        font normal normal 1em/1.2em monospace
        margin 0
        padding 0
        background none
        vertical-align top
        font-family monospace

    .imp
        font-weight bold
        color red

    li, .li1
        background #010101

    .ln
        width 1px
        text-align right
        margin 0
        padding 0 2px
        vertical-align top

    .kw1
        color #b1b100

    .kw2
        color #000000
        font-weight bold

    .kw3
        color #990000

    .kw4
        color #009900
        font-weight bold

    .co1
        color #666666
        font-style italic

    .co2
        color #666666
        font-style italic

    .co3
        color #0000cc
        font-style italic

    .co4
        color #009933
        font-style italic

    .coMULTI
        color #666666
        font-style italic

    .es0
        color #000099
        font-weight bold

    .es1
        color #000099
        font-weight bold

    .es2
        color #660099
        font-weight bold

    .es3
        color #660099
        font-weight bold

    .es4
        color #006699
        font-weight bold

    .es5
        color #006699
        font-weight bold
        font-style italic

    .es6
        color #009933
        font-weight bold

    .es_h
        color #000099
        font-weight bold

    .br0
        color #009900

    .sy0
        color #339933

    .sy1
        color #000000
        font-weight bold

    .st0
        color #0000ff

    .st_h
        color #0000ff

    .nu0
        color #cc66cc

    .nu8
        color #208080

    .nu12
        color #208080

    .nu19
        color #800080

    .me1
        color #004000

    .me2
        color #004000

    .re0
        color #000088

    span.xtra
        display block