body.article

    .info_box

        border-top 1px solid #E2E2E2
        padding-top 8px
        direction ltr

        i
            opacity 0.7

            &.rating-up, &.rating-down
                border-radius 30px

            &.rating-up.active
                background-color green
                opacity 1
                cursor pointer

            &.rating-down.active
                opacity 1
                background-color #ff0000
                cursor pointer


        .left-spaced
            margin-left 25px

        a.post-share-btn
            height 16px
            width 16px
            display block
            float left
            margin-left 4px