/* 
Simpler - A Responsive Under Construction Theme by Gioska :: background.css
Designed and Developed by Giovanni Filippi
*/


/* ===================================

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* { margin:0; padding:0; }

#supersized { display:block; position:fixed; right:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%;}
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
#supersized li {display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; right:0; width:100%; height:100%; background:#111; }
#supersized li.activeslide { z-index:-10; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline;}
/* =================================== */


