/*
    REFINED - A Responsive Bootstrap Under Construction Theme by Gioska :: style.css
    Designed and Developed by Gioska
--------------------------------------------------------------------------------------------------------*/



.container-first-text{  
		margin: 0 auto; 
        max-width: 1080px;
		padding: 0px 0px 0px 0px ; 
		text-align: center;
      }

.container-first-text p{
	margin: 0 auto; 
	font-family: 'Passion One', cursive;
	color: #323232;
	font-size: 4.50em;
	font-weight:;
	padding: 100px 20px 0px 20px ; 
	text-align: center;
	list-style-type: none;
	text-transform: uppercase;
}


.container-second-text{ 
		margin: 0 auto;   
         max-width: 680px;
		padding: 0px 0px 0px 0px ; 
		text-align: center;
      }

.container-second-text p{
	font-family: 'Lato', cursive;
	color: #323232;
	font-size: 1.12em;
	font-weight:normal;
	padding: 0px 7px 10px 7px ; 
	text-align: center;
	list-style-type: none;
	font-weight:400;
	line-height:25px;
}

.container-services p {
       text-align: center;
	   padding: 0px 0px 0px 0px ; 
	   font-family: 'Lato', cursive;
	   color: #323232; 
	   font-size: 1.12em; 
	   line-height: 25px; 
	   margin: 0 0 15px;
	   
      }	 


/* Notify Form - Home */

.container-form {
        margin: 0 auto;
        max-width: 312px;
		padding: 12px 0px 0px 0px ; 
      }

/* Notify Form - Home */

footer #footer-inner .footer-item #success{
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color:#67B013;
        color:#FFF;
        margin:0 auto;
        padding: 12px 0px 11px 0px ; 
        width:312px;
      }
      
footer #footer-inner .footer-item .error{
        color:#F73E05;
      }
       
        
footer #footer-inner .footer-item form{
        position:relative;
        margin:0 auto;
      }
        
footer #footer-inner input[type=text]{
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          background-color:#fff;
         border:1px medium #000 ;
          border-bottom-width: 1;
          color:#323232;
          padding: 12px 10px 11px 90px ; 
          
         margin:0 auto;
          font: 13px/13px 'Lato', cursive;
          height: 29px;
          width:210px;
		  opacity:0.8;
		  
        }
        
footer #footer-inner input:focus[type=text]{
            background-color:#FFF;
          }
          
footer #footer-inner button{
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          height: 40px;
		  width:100px;
          padding: 0 0px;
          display: inline-block;
          color: #fff;
		  border:none;
         background-color:#323232;
          cursor: pointer;
          font: 16px/18px 'Lato', cursive;
          position:absolute;
          right:205px;
          top:7px;
		  opacity:0.5;
        }
        
footer #footer-inner button:hover{
            color: #FFFFFF;
            background: -moz-linear-gradient(top, #67af12, #4f930e); 
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#67af12), to(#4f930e));
            background: -webkit-linear-gradient(top, #67af12,#4f930e);
            background: -o-linear-gradient(top, #67af12,#4f930e);
            background: -ms-linear-gradient(top, #67af12,#4f930e);
            background: linear-gradient(top, #67af12,#4f930e);
			opacity:1;
          }
		  


.userMessage{
	height:0px;
	text-align:center;
	padding: 10px 0px 0px 0px ; 
	font-family: 'Lato', cursive;
	color: #525252;
	font-size: 14px;
	font-weight:normal;
	opacity: 0.5; 	
}	



@media (max-width: 480px) {
	

.container-first-text p{
	font-family: 'Passion One', cursive;
	color: #323232;
	font-size: 4.50em;
	font-weight:;
	padding: 100px 20px 0px 20px ; 
	text-align: center;
	list-style-type: none;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #;
}




.container-second-text{ 
		margin: 0 auto;   
        max-width: 980px;
		padding: 0px 0px 0px 0px ; 
      }

.container-second-text p{
	
	font-family: 'Lato', cursive;
	color: #323232;
	font-size: 1.12em;
	font-weight:normal;
	padding: 0px 7px 10px 7px ; 
	text-align: center;
	list-style-type: none;

	font-weight:400;
	line-height:30px;

}


.contactInfo h2{
	
	
    font-size: 2em;
    
}



.contactInfo p{
	
    font-family: 'Lato', cursive;
	
	
}


.team-member {
    display: block;
    float: right;
    width: 118px;
    margin: 0 15px;
    font-size: 12px;
    line-height: 15px;
	text-align:center;
	 padding-bottom: 20px;
}



/* Block LastPage*/

.blocklastpage {
	padding: 0px 0 50px 0 ; 
	position: relative;
	
}

 
	
	
	
	
	


