<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="chrome" browser="*chrome" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>

    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./unit/</directory>
        </testsuite>
    </testsuites>

</phpunit>