
/********************************* Rating Table ****************************/

.ratingTable td:nth-child(2)
{
  text-align:left;
}

.ratingTable span
{
  display:inline-block;
  width:140px !important;
  overflow:hidden;
}


.ratingWidgetHeader h5
{
  color:#BE30DA;
  cursor: help;
}


.ratingWidgetHelp
{
  display:none;
  position:absolute;

}
