
#sidebar
{
  width:301px;
  margin:0;
  float:left;
}

/************************************** Search *************************************/

#search_box {
  margin: 0px 0 30px 0;
  height: 26px;

}

#search_box input[type="text"] {
  border: 1px solid #dce1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 26px;
  padding: 0px 10px;
  color: #9d9d9d;
  font: 14px Arial;
  float: right;
  width: 240px;
}

#search_box input[type="submit"] {
  border: none;
  width: 34px;
  height: 29px;
  margin:0;
  display: block;
  float: left;

}



/******************************* Sidebar blocks ********************************************/


.rblock {
  margin-top: 20px;
  padding: 30px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  background: #f3f8f8;
  color: #808888;

}

.rblock h3 {
  color: #4f5555;
  margin: 0;
}

.rblock p {
  margin: 15px 0 0 0 ;
  line-height: 19px;
}