
/* ============================================= */
/* last commnets */


#last_comments dl dt,
#last_comments dl dd {
  display: block;
  margin-bottom: 20px;
  font-size:12px;
}

#last_comments dl {
  word-wrap: break-word;
  margin-top: 15px;
}

#last_comments dl dt {
  width: 34px;
  float: right;
}

#last_comments dd {
  margin-right: 34px;
  line-height: 17px;
}

#last_comments dd:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}


a.topic, a.topic:active, a.topic:visited {
  font-size:11px;
  color: #27b1db;
  text-decoration: underline;
}



a.topic:hover {
  text-decoration: none;
}

a.nick, a.nick:active, a.nick:visited
{
  text-decoration: none;
  font-weight: bold;
  color: #808888;
}

a.blog, a.blog:active, a.blog:visited {
  font-size:12px;
  text-decoration: underline;
  color:#ff9600;
}

a.blog:hover {
  text-decoration:none;
}

a.nick:hover {
  text-decoration: underline;
  color: #454545;
}


section.logos
{
  margin-top:20px;
}

section.logos .rss , section.logos .github
{
  display:block;
  width:50px;
  height:22px;
  float:left;
  margin-left:30px;
}