/*************************************************************************/
/**************************** My STYLES **********************************/
/*************************************************************************/


body {
    border-top: 5px solid #77B3D8;
    font-family: Tahoma,Geneva,sans-serif;
    margin-bottom: 60px;
    font-size:14px;
    line-height: 21px;
}

.clear { clear:both; }
.right { float:right; }
.left  { float:left; }

a {
    color: #5F99CB;
    outline: medium none;
}
a:hover
{
    text-decoration:underline;
    color:#ff7700;
}

a:visited
{
    color:#5F99CB;
}


#sidebar, #content
{
    display:block;
}


ul, ol
{
	padding-right: 10px;
	margin: 0 0 10px 0;
}

ul ul
{
	list-style: circle;
}

ul ul ul
{
	list-style: square;
}


.hidden
{
    display:none;
}



input, textarea { font-size:14px; font-family: Arial,serif;}

/**************************** Header section ********************/
#header
{
	height:75px;
	border-bottom:1px solid #cccccc;
	margin:0 auto 10px auto;
}

#header .homepage-link
{
	padding-top:30px;
	display:block;
	width:257px;
	height:43px;
	float:right;
}

#header .social-buttons
{
    float: right;
    margin: 20px 20px 0 20px;
    text-align: left;

}

#header ul.header 
{ 
	list-style: none; 
	float:left; 
	display:block;
	margin-top:10px; 
}

#header ul li
{
	float:left;
	padding-right:20px;
}

#header ul.header a 
{ 
	color: #211C21; 
	padding:35px 10px 0 10px; 
	display:block;
}



#footer
{
	height:1px;
	display:block;
	clear:both;
	margin-bottom:60px;
}


/******************************** Facebook Like button *******************/

.fb-like-frame
{
    background:#e4e4e4;
    
    height:23px !important;
    
    
    float:left;
    border:none;
    overflow:hidden;
    width:95px;
    background-color:transparent;
}

.fb-like-frame-box
{
	height: 65px !important;
}


/**************************** Sidebar formatting *****************************/
.page-container { width:1000px; margin:0 auto;}

#sidebar
{
    width:301px;
    margin:0;
    float:left;
}
#content
{
    width:640px;
    margin:0;
    float:right;
}


.rssfeed 
{
    padding-right:25px !important;
    
    display:block;
    text-decoration:none;
    padding:2px;
    margin-bottom:2px;
    color: #5f99cb ;
}



/************************************** Search *************************************/

#search_box {
	margin: 10px 0 30px 0;
	height: 26px;

}

#search_box input[type="text"] {
	border: 1px solid #dce1e1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 26px;
	padding: 0px 10px; 
	color: #9d9d9d;
	font: 14px Arial;
	float: right;
	width: 240px;
}

#search_box input[type="submit"] {
	border: none;
	width: 34px;
	height: 29px;
	margin:0;
	display: block;
	float: left;

}



/******************************* Sidebar blocks ********************************************/


.rblock {
	margin-top: 20px;
	padding: 30px 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #f3f8f8;
	color: #808888;

}

.rblock h3 {
	color: #4f5555;
	margin: 0;
}

.rblock p {
	margin: 15px 0 0 0 ; 
	line-height: 19px;
}




/* =========================================================== */
/* aside userinfo block  */
#userinfo {
	
	border: 1px solid #dce1e1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
}

/* #userinfo.unregistered { height:193px; } */

#userinfo .action {
	height: 64px;
	border-top: 1px solid #dce1e1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #dae7e7;
}

#userinfo.unregistered .action { background:inherit; }


#userinfo.registered .action a {
	display: block;
	color: white;
	text-decoration: none;
	margin: 15px 30px ;
	background: url(../images/addpencil.png) no-repeat #27b1db 35px 7px;
	height: 35px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 35px;

}

#userinfo.unregistered .action a {
	margin: 15px 45px 15px -10px;
	
	height:24px;
	width: 87px; 
	float:right;

}


#userinfo.registered .action a:hover {
	background: url(../images/addpencil-act.png) no-repeat #ff9600 35px 7px;

}

#userinfo .ava {

	margin: 20px 29px;
}

#userinfo .ava a.avatar {
	float: right;
	display: block;
	width:50px;
	height: 50px;
}

#userinfo.unregistered .ava a.avatar {
	height:92px;
	width:95px;
	padding-left:10px;
	
}


#userinfo .ava nav {

	margin-right: 15px;
	margin-top:10px;
}

#userinfo .ava .userinfo
{
	display: block;
	margin: 5px 70px 15px 0 ; 
}

#userinfo .ava .userpoints
{
	font-size:10px;
}
#userinfo .ava a.username {
	font: 14px Verdana;
	font-weight: bold;
	color: #4f5555;
	padding-right:15px;
padding-bottom:10px;
}

#userinfo .ava nav a {
	float: right;
	margin-left: 13px;
	height: 14px;
	width:14px;
	line-height: 14px;
	vertical-align: baseline;
	display: block;
}



/********************************************** Authorization ***********************************/
#login_popup, #only_auth_users_allowed_popup { display:none; }

.auth_window_background {
	background: none repeat scroll 0 0 #000000;
	height: 100%;
    position: fixed;
	top:0; left:0;
    width: 100%;
	z-index:9999;
}
.auth_window {
	display:none;
	position:absolute;

	z-index:200;
	padding:20px 30px;
	width:400px;
	margin-right: -200px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#FFFFFF;	
	overflow:hidden;
	height:400px;
}

.auth_window .head-wind {
	float:right;
	width:100%;
	padding-bottom:6px;
	clear:both;
}

.auth_window .head-wind span {
	float:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#7c7f7f;
	padding-top:15px;
}

.auth_window .head-wind a.close_auth_window {
	position:absolute;
	left:31px;
	top:35px;
	width:15px;
	height:15px;
}

.auth_window .head a.close_auth_window:hover {
	text-decoration:underline;
}

.auth_window .enter-block {
	float:right;
	width:100%;
}

.auth_window .enter-block form {
	overflow:hidden;
	display:block;
	padding-bottom:15px;
	margin-bottom:15px;
	width:100%;
}

.auth_window .enter-block .col {
	width:252px;
	margin: 20px 0;
}

.auth_window .enter-block .col label {
	width:100%;
	margin:0 0 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#454545;
}

.auth_window .enter-block .col .txt-field {
	padding-right:5px;
	padding-left:5px;
	width:387px;
	margin-bottom:7px;
	height:37px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border: 1px solid #BFCACE;
	margin-top:5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) inset;
}

.auth_window .enter-block .col .txt-field:focus {
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(255, 150, 0, 0.6);
    outline: 0 none;
}

.auth_window .enter-block .col .submit {
	float:right;
	overflow:visible;	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#27b1db;
	height:37px;
	width: 72px;
	border: none;
    cursor: pointer;
    padding: 2px 0 5px;
    text-align: center;
	overflow:visible;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;	
	color: #FFFFFF;
}

.auth_window .enter-block form a {
	float:right;
	margin-top:13px;
	margin-right: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#27b1db;
	text-decoration:underline;
}

.auth_window .enter-block form a:hover {
	text-decoration:none;
}

.auth_window .enter-block .red-button {
	width:250px;
	display:block;
}

.auth_window .enter-block .save_me {
	margin:20px 0 30px;
	float:right;
	width:100%;
}
.auth_window .enter-block .save_me label {
	margin: 0 5px 0 0 ; 
}

/* End Authorization */



/********************************* Rating Table ****************************/

.ratingTable td:nth-child(2)
{
	text-align:left;
}

.ratingTable span
{
	display:inline-block;
	width:140px !important;
	overflow:hidden;
}


.ratingWidgetHeader h5
{
	color:#BE30DA;
	cursor: help;
}


.ratingWidgetHelp
{
	display:none;
	position:absolute;

}







/* ============================================= */
/* last commnets */


#last_comments dl dt,
#last_comments dl dd {
	display: block;
	margin-bottom: 20px;
	font-size:12px;
}

#last_comments dl {
	word-wrap: break-word;
	margin-top: 15px;
}

#last_comments dl dt {
	width: 34px;
	float: right;
}

#last_comments dd {
	margin-right: 34px;
	line-height: 17px;
}

#last_comments dd:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}


a.topic, a.topic:active, a.topic:visited {
	font-size:11px;
	color: #27b1db;
	text-decoration: underline;
}



a.topic:hover {
	text-decoration: none;
}

a.nick, a.nick:active, a.nick:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #808888;
}

a.blog, a.blog:active, a.blog:visited {
	font-size:12px;
	text-decoration: underline;
	color:#ff9600;
}

a.blog:hover {
	text-decoration:none;
}

a.nick:hover {
	text-decoration: underline;
	color: #454545;
}


section.logos 
{
	margin-top:20px;
}

section.logos .rss , section.logos .github
{
	display:block;
	width:50px;
	height:22px;
	float:left;
	margin-left:30px;
}


/********************************** FOOTER ***********************************/

.footer
{
    border-top:1px solid #CCC;
    padding-top:10px;
}

.about-contacts
{
    width:168px;
    direction:ltr;
    
    vertical-align: middle;
}

 .about-contacts div,  .about-contacts a
{
    padding-left:20px;
    line-height:28px;
    display:block;
    margin:0;
    
    
}

 .about-contacts .email
{
    vertical-align: middle;
    
}

.onlineUsers
{
    direction: rtl;
}

.onlineUsers span
{
    direction: ltr;
}

/********************************** ASK QUESTION FORM ***********************/

#forum_question_subject
{
    font-size: 18px;
    padding:5px;
    width:100%;
    margin-top:10px;
    color:green;
    font-weight: bold;
}


#forum_question_text
{
   width:100%;
    margin-top:10px;
    display:none;
    padding:5px;
    height:250px;
}

#forum_question_controls
{
    display:none;
}

#forum_question_controls a
{
    padding-right:10px;
}

.new_question_form
{
    background: #e7f1fb;  
    padding:20px 0; 
    margin-top:25px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}




/**************************** Categoriens on homepage ************************/


.categories_list
{
    margin:20px 0 60px 0;
}
.categories_list > div
{
    margin-top:20px;
}

.categories_list a
{
    color:brown;
}

.categories_list .addlink
{
    color:blue;
    background: #d3e8fe;
        padding:2px 5px;
        text-decoration: none;
}
.categories_list .addlink:hover { text-decoration: underline;}





/*********************************** CONTENT FORMATTING ******************************/


span.dirleft 
{
	display:block;
	direction:ltr;
}

span.underline
{
	text-decoration:underline;
}


.blogpost 
{ 
    padding-left:10px;
    font-size: 14px;
    color: #444344;
    margin:10px 0 30px 0;
    padding-bottom:10px;
    
}

 .blogpost h1.title a 
{ 
    font-weight:bold; 
    font-size: 16px; 
    text-decoration:none; 
}


 .post-image
{
    height:75px;
    width:75px;
    margin-left:20px;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 0px 7px 14px;
}




.homepage_posts .blogpost h1
{
    margin-bottom:5px;
    line-height: 16px;
}

.homepage_posts .blogpost h1.title a 
{
color: #4979A2;
}

.homepage_posts .blogpost h1.title a:hover
{	
    color:#5F99CB;
    text-decoration: underline;
}


.homepage_posts .row
{
    margin-bottom:30px;
}



.homepage_posts .blogpost .submited 
{
    margin-bottom: 15px;
}

 .post-content
{
    width:470px;
  
}

#content h3 { color: #2E475F; font-size:13pt; }
#content h4 { color: #3B6D9F; }


/*Image floatings*/
.content-image-floatright { float:right; margin-left:15px; }
.content-image-floatleft  { float:left;  margin-right:15px; }





.homepage-banner
{
    text-align:center;
    margin:30px 0 40px 0;
    border: 1px dotted #233A4B;
    padding: 20px 0;
}


/***************************** CATEGORY PAGE *********************/
.category_bread_crumbs
{
    font-size: 10px;
    margin-bottom: 25px;
}

.category_bread_crumbs a
{
    text-transform: uppercase;
    text-decoration: underline;
}



#categories_posts .blogpost
{
    margin:10px 0 60px 0;
    padding-bottom:10px;
    border-bottom: 1px solid #E3ECF4;
    
}

#categories_posts .blogpost h1 a
{
    color: #3E627F; 
    
}



#categories_posts  .blogpost h1
{
    margin-bottom:5px;
    line-height: 21px;
}


#categories_posts .blogpost .submited , .homepage_posts .blogpost .submited 
{
    color:#999999;
    font-size:10px;
    line-height:16px;
    margin-top:0px;
    
}

#categories_posts .blogpost .submited a, .homepage_posts .blogpost .submited a
{
    color:#999999;
    text-decoration: underline;
}


h1.category-title
{
    margin: 15px 0 0 0;
}


/********************************* PRETTIFIER ********************************/



.codeblock
{
    background:#E8F3FF;
    margin:15px -40px 15px -25px;
    clear: both;
    padding: 10px 20px;
    font-size:13px;
    font-family: Courier, "Courier New", monospace;
    line-height:19px;
    direction:ltr;
}

/** * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann * (http://qbnz.com/highlighter/ and http://geshi.org/) */
.php .de1, .php .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;} 
.php {font-family:monospace;} 
.php .imp {font-weight: bold; color: red;} 
.php li, .php .li1 {background: #010101;} 
.php .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;} 
.php .kw1 {color: #b1b100;} 
.php .kw2 {color: #000000; font-weight: bold;} 
.php .kw3 {color: #990000;} 
.php .kw4 {color: #009900; font-weight: bold;} 
.php .co1 {color: #666666; font-style: italic;} 
.php .co2 {color: #666666; font-style: italic;} 
.php .co3 {color: #0000cc; font-style: italic;} 
.php .co4 {color: #009933; font-style: italic;} 
.php .coMULTI {color: #666666; font-style: italic;} 
.php .es0 {color: #000099; font-weight: bold;} 
.php .es1 {color: #000099; font-weight: bold;} 
.php .es2 {color: #660099; font-weight: bold;} 
.php .es3 {color: #660099; font-weight: bold;} 
.php .es4 {color: #006699; font-weight: bold;} 
.php .es5 {color: #006699; font-weight: bold; font-style: italic;} 
.php .es6 {color: #009933; font-weight: bold;} 
.php .es_h {color: #000099; font-weight: bold;} 
.php .br0 {color: #009900;} 
.php .sy0 {color: #339933;} 
.php .sy1 {color: #000000; font-weight: bold;} 
.php .st0 {color: #0000ff;} 
.php .st_h {color: #0000ff;} 
.php .nu0 {color: #cc66cc;} 
.php .nu8 {color: #208080;} 
.php .nu12 {color: #208080;}
.php .nu19 {color:#800080;} 
.php .me1 {color: #004000;} 
.php .me2 {color: #004000;} 
.php .re0 {color: #000088;} 
.php span.xtra { display:block; } 



/**************************** Content Formatting ******************************/



h1.content-title
{
    color: #666666; /*#558EC3;*/
    font-size: 26pt;
    margin-top: 0;
	width:100%;
	position:relative;
	padding:5px 0;
	line-height:36px;
}

h1.content-title span
{

    
    display: block;
    height: 24px;
    margin-top:3px;
    position: absolute;
    width: 100%;
}

#content-publishing-info
{
    color:gray;
    font-size:12px;
    margin-bottom:20px;
    margin-top:-5px;
}


.next-chapter
{
    
    padding-right:35px;
    color:#666666;
}


.likeus
{
	width:173px; 
	height:32px; 
	position:absolute;
	top:-45px; 
	left:0;
}

/******************************** BLOG COMMENTS **********************/


/*section.*/.comments
{
    margin-top:80px;
}

.comments .blog-comment
{
    margin-top:30px;
    background-color:#F7F5F5;
    padding:5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-raidus:3px;
}

.comment-table
{
    margin-top: 50px;
}

.comment-table .rightcolumn { float:right; width:100px; }
.comment-table .leftcolumn { float:right; }

.comment-table .rightcolumn span
{  
	display:block;
	font-weight:bold;
}

.comment-table .rightcolumn .label-comment {  margin-top:30px; }
.comment-table .label-captcha { margin-top: 145px; }

.comment-table input.author-input
{
    width: 152px;
	height:21px;
	margin-bottom:10px;
	padding-right:2px;
}

.comment-table input.submit
{
	height:27px;
}

.comment-table textarea 
{ 
    height: 150px;
    width: 568px;
}


.comment-author { font-weight: bold; }
.comment-date
{
	color:gray;
	font-size:90%;
}

.comment-table .error_alert
{
    background-color:#ff5e6a !important;
    color:white !important;
}

.comment-table .warn_alert
{
    background-color:#fff9ba !important;
}

#comments_alert
{

    display:none;

}
#comments_inputs
{
    padding-right:0;
}

#comments_inputs .actions
{
    padding-right:50px ;
    margin-right:0;
}
#comments_inputs .actions .btn
{
    margin-right:30px;
}


#comments_loading_img
{
    display:none;
}


/******************************** ADD FORM ***************************/



div.addform .name {
	width:440px;
	padding:3px 5px 3px 5px;
	margin-bottom:11px;
}

div.addform .second-name {
	width:152px;
	padding:1px 5px 0px 5px;
	margin-right:24px;
}

div.addform .third-name {
	width:152px;
	padding:1px 5px 0px 5px;
	margin-right:19px;
	color:#b2b2b2;
}

div.addform .text {
	width:591px;
	height:364px;
	min-height:364px;
}

div.addform .buttons {
	overflow:hidden;
	float:right;
	padding-top:38px;
	padding-bottom:8px;
}

div.addform .buttons a {
	display:block;
	width:24px;
	height:8px;
	padding:2px 0px 14px 0;
	float:left;
	margin-right:5px;

	border:1px solid #e6e6e6;
	text-align:center;
	text-decoration:none;
	color:#101010;
	font-size:11px;
}



div.addform .buttons a:hover, div.addform .buttons a.active
{

	border:1px solid #5fa5cd;
	color:#fff;
}

div.addform .buttons .bold-text {
	font-weight:bold;
}
div.addform .buttons .italic-text {
	font-style:italic;
}
div.addform .buttons .underline-text {
	text-decoration:underline;
}
div.addform .buttons .through-text {
	text-decoration:line-through;
	margin-right:16px;
}
div.addform .buttons .h3-text {
	margin-right:15px;
}
div.addform .buttons .ltr-text {
	margin-right:15px;
}
div.addform .buttons .a-text {
	color:#2495cf;
	text-decoration:underline;
}

div.addform .submit
{

	width:93px;
	height:33px;
	border:0;
	margin-top:16px;
	cursor:pointer;
	float:left;
}




div.addform h1.title { margin-bottom:5px; }


div.addform .errors
{
    direction: ltr;
    color:#fd5050;
}

/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:right;
	font-size:12px;


	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}







/************************************ Emailing subscriptions ***********************************/

.inPostMailSubscriptionForm
{
    background:#D8FFD8;
    padding:20px 20px 10px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}













/****************************************************************************/
/************************** Chosen jquery plugin ****************************/
/****************************************************************************/


/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  right: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding-box;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  margin-left: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 0 4px 4px ;
  -moz-border-radius   : 0 0 4px 4px ;
  border-radius        : 0  0 4px 4px ;
  -moz-background-clip   : padding-box;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-right: 1px solid #aaa;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('/static/images/chosen-sprite.png') no-repeat 100% 1px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  margin: 0;
  white-space: nowrap;
}
.chzn-container-single .chzn-search input {
  background: #fff url('/static/images/chosen-sprite.png') no-repeat 0% -20px;
  background: url('/static/images/chosen-sprite.png') no-repeat 0% -20px);
  padding: 4px 5px 4px 20px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding-box;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: right;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding-box;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 6px 3px 19px;
  margin: 5px 5px 3px 0px;
  position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  left: 5px;
  top: 6px;
  width: 8px;
  height: 9px;
  font-size: 1px;
  background: url(/static/images/chosen-sprite.png) right top no-repeat;
}

/* @end */

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
}
.chzn-container .chzn-results .highlighted {
  background: #3875d7;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-right: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-right-radius : 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright : 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius : 0;
  border-bottom-left-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-right: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group left to right */
.chzn-rtl { direction:rtl;text-align: left; }
.chzn-rtl .chzn-single { padding-right: 0; padding-left: 8px; }
.chzn-rtl .chzn-single span { margin-right: 26px; margin-left: 0; }
.chzn-rtl .chzn-single div {
  right: 0; left: auto;
  border-right: none; border-left: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 4px 0 0px;
  -moz-border-radius   : 4px 4px 0 0px;
  border-radius        : 4px 4px 0 0px;
}
.chzn-rtl .chzn-choices li { float: left; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { right: 5px; left: auto; background-position: left top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-right: 4px; margin-left: 0; padding-right: 0; padding-left: 4px; }
.chzn-rtl .chzn-results .group-option { padding-right: 0; padding-left: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-left: none; }
.chzn-rtl .chzn-search input {
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, #ffffff;
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -webkit-gradient(linear, right bottom, right top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('/static/images/chosen-sprite.png') no-repeat 38px -20px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  padding: 4px 20px 4px 5px;
}
/* @end */



/* Corols Drop Down Menu */
/* #9B9B9B; #F0F8FF */
.anylinkmenu
{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	border: 1px solid #9B9B9B;
	font: normal 12px Verdana;
	line-height: 18px;
	background: #F0F8FF;
	width:120px;
}

.anylinkmenu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.anylinkmenu ul li a
{
	width: 100%;
	display: block;
	text-indent: 3px;
	padding: 2px 0;
	text-decoration: none;
	text-indent: 5px;
}

.anylinkmenu a:hover{ background:#FFFFCC; }





/************************** QNA ****************************/

.qna-home-row:first-of-type {
    border-top: 1px dotted #CCCCCE;
}

.qna-home-row {
    border-bottom: 1px dotted #CCCCCE;
    float: left;
    overflow: hidden;
    padding: 3px 0 5px 0;
    position: relative;
    width: 100%;
}

.qna-home-row:nth-child(even) {
	background-color: #FDFDFD;
}

.qna-home-row .counts {
    float: left;
    margin-right: 0;
    margin-top: 4px;
    padding-right: 2px;
    width: 175px;
}


.homepage-qna
{
    margin-bottom:60px;
    margin-top:30px;
}

.qna-home-row h2
{
    line-height: 24px;
	max-width:460px;
}

.qna-home-row h2 a
{
    color: #2A5594;
    font-family: "Trebuchet MS","segoe ui",arial,sans-serif;
    font-size: 17px;
    text-decoration: none;
}

.qna-home-row h2 a:hover
{
    text-decoration: underline;
}

.qna-home-row .votes, .qna-home-row .views {
    color: #666666;
}

.qna-home-row .counts .item-count {
    font-size: 17px;
    font-weight: bold;
}

.qna-home-row .votes, .qna-home-row .status, .qna-home-row .views {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 11px;
    height: 42px;
    margin: 0 6px 0 0;
    padding: 8px 2px 0;
    text-align: center;
    width: 46px;
}

.answered {
     background: none repeat scroll 0 0 #E6F8DD;
    color: #3A6231;
}

.unanswered {
    background: none repeat scroll 0 0 #F3E3E1;
    color: #6B2B28;
}

.qna-home-row .votes, .qna-home-row .views {
    color: #666666;
}

.qna-home-row .userinfo {
    color: #666666;
    float: right;
    margin-top: 8px;
    font-size:90%;
}

.qna-home-row .userinfo a, .qna-home-row a.userinfo {
    color: #3060A8;
}




.qna_view_question
{
    border-right:3px solid #13768C;  padding-right:25px; margin-bottom:20px;
}

.qna_view_question .qna-home-row
{
    border:none;
}


.addAnswer
{
    font-size:22px;
    text-decoration:underline;
    outline:none;
}

.qnapost, .answer {
	word-wrap: break-word;
}

.qnaCommentForm
{
/*    display:none;*/
margin-top:20px;
}

.qnaCommentForm textarea
{
    width:100%;
    height:100px;
}

.qnaCommentForm .btn
{
    margin-top:5px;
}

.qnaCommentForm .controls_holder
{
    background:#EEEEEE; 
    border:1px solid #C0CAD5; 
    border-bottom:none; 
    width:632px; 
    padding:8px; 
    margin-bottom:3px;
}

.qnaCommentForm .controls_holder a
{
    display:block;  
    text-indent: -10000px; 
    float:left;
    height:16px;
    width:16px;
    background-repeat: no-repeat;
    margin-right:10px;
}

.qnaCommentForm .controls_holder a.abold
{
    
    background-image: url('http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/bold.png') ;
}
.qnaCommentForm .controls_holder a.aitalic
{
    background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/italic.png");
}

.qnaCommentForm .controls_holder a.astrike
{
    background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/stroke.png");
}

.qnaCommentForm .controls_holder a.aunderline
{
    background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/underline.png");
}

.qnaCommentForm .controls_holder a.acode
{
    background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/code.png");
}

.qnaCommentForm .controls_holder a.aimage
{
     background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/picture.png");
}

.qnaCommentForm .controls_holder a.alink
{
    background-image: url("http://demo.livestreetcms.com/standart/engine/lib/external/jquery/markitup/sets/default/images/link.png");
}



/************************* qna Forum **************************/

.qna_forum_list td
{
    border-bottom: 1px solid #d1d3d6;
    padding:13px;
}

.qna_forum_list td .icon
{
    width:60px;
    height:60px;
    background-repeat: none;
}


.qna_forum_list td a
{
    color: #626162;
}

.qna_forum_list td.spacer
{
    width:1px;
}
.qna_forum_list td.spacer span
{
    display:block;background: #d1d3d7;width:1px;height:71px;
}

.qna_forum_list td.category_name
{
    width:314px;
}
.qna_forum_list td.category_name a
{
    font-size: 18px;
}

.qna_forum_list td.last_post a
{
    font-weight: bold;
}

.qna_forum_list td.last_post a.author
{
    color:black;
    direction: rtl;
}

.qna_forum_list td.last_post time
{
    font-size: 11px;
    direction: rtl;
}




   
    
/************************** QNA Answers *******************/

.answer
{
    margin:10px 0 40px 0;
}

.answer .userinfo
{
    color: #666666;
    vertical-align: middle;
    font-size: 90%;
    display:block;
    margin-bottom:5px;
	width:90%;
    float:right;
	
}

.answer .avatar
{
    vertical-align: middle;
}


.answer a.qna-answer-edit , .answer a.qna-answer-delete , 
.qna_view_question a.qna-question-edit , .qna_view_question a.qna-question-delete
{
	display:block; 
	width:16px;
	height:16px;
	float:left;
	cursor:pointer;
}

.answer a.qna-answer-edit, .qna_view_question a.qna-question-edit 
{
	margin-right:5px;
}         
/************************** Error pages *******************/
div.error-page 
{
	margin-top:50px; 
	background:#fff;
	margin:2em auto;
	width:700px;
	
	
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:1px solid #dfdfdf;
	padding: 0 25px;
}
div.error-page p{font-size:12px;line-height:18px;margin:25px 0 20px;text-align:center;}
body.error-page
{
	background:#eee;
	color:#333;
	padding:1em 2em;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	border:none;
}



/*********************************** SANDBOX - PHPLIVE *************************/

#sandboxarea
{
    width:100%;
    padding-left:3px;
    margin:10px 0;

}

#sandboxresponse
{
    padding:3px;
    background-color:#fff9ba;
    border: 1px dashed green;

}


.phplive-sidebar h3
{
    color:#5782b8;
    margin-bottom:5px;
}



/********************** LOGIN **********************/

.sign_in_with_facebook_long, .sign_in_with_google_long
{
	width:192px;
	height:24px;
	display:block;
}



form.sidebarLoginForm .text-field {

    width: 230px;
    border-radius: 3px;

    padding-left: 10px;

}






/************************************************** PAGINATOR *******************************************/
/*
	Paginator 3000
	- idea by ecto (ecto.ru)
	- coded by karaboz (karaboz.ru)

	
*/
.paginator {
	margin-top:60px;
	font-size:1em;
	width:600px;
}
.paginator table {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
}
.paginator table td {
	padding:0;
	white-space:nowrap;
	text-align:center;
    border:none;
}
.paginator span {
	display:block;
	padding:3px 0;
	color:#fff;
}
.paginator span strong,
.paginator span a {
	padding:2px 6px;
}
.paginator span strong {
	background:#ff6c24;
	font-style:normal;
	font-weight:normal; 
}
.paginator .scroll_bar {
	width:100%;	height:20px;
	position:relative;
	margin-top:10px; 
}
.paginator .scroll_trough {
	width:100%;	height:3px;
	background:#ccc;
	overflow:hidden;
}
.paginator .scroll_thumb {
	position:absolute;
	z-index:2;
	width:0; height:3px;
	top:0; left:0;
	font-size:1px;
	background:#363636;
}
.paginator .scroll_knob {
	position:absolute;
	top:-5px; left:50%;
	margin-left:-10px;
	width:20px; height:20px;
	overflow:hidden;
	background:url("data:image/gif;base64,R0lGODlhCAAHAJECAP///21tbQAAAAAAACH5BAEAAAIALAAAAAAIAAcAAAINlAGmErHcnIkR0otzAQA7") no-repeat 50% 50%;
	cursor:pointer; 
}
.paginator .current_page_mark {
	position:absolute;
	z-index:1;
	top:0; left:0;
	width:0; height:3px;
	overflow:hidden;
	background:#ff6c24;
}

.fullsize .scroll_thumb {
	display:none;
}


.paginator_pages {
	width:600px;
	text-align:right;
	font-size:0.8em; 
	color:#808080;
	margin-top:-10px; 
}






/*************************************** USERS page ********************************************/


/* Viewing profile */

.viewing_profile 
{
	margin-top:35px;
}

.viewing_profile .nick_and_rating
{
	margin-right:30px;
}

.viewing_profile .nick_and_rating .nick
{
	font-size:24px;
}

.viewing_profile .nick_and_rating span
{
	color:green;
}

.viewing_profile .tabs
{
	margin-top:30px;
}

.viewing_profile .whois_info td:first-child
{
	text-align:left;
	padding-left:20px;
	color:gray;
	font-size:85%;
}

/* End Viewing profile */







/*************************************** STICKY NOTES *******************************************/

#flashes { display:none; }

div.sticky-queue
	{ 
	position:fixed;
	background:#fff;
	border:1px solid #999;
        box-shadow:0px 0px 5px #eb6297;

	width:200px;
	}
div.sticky-note
	{ padding-right:20px; }
div.sticky
	{
	font-size:12px;
	color:#555;
	display:none;
	padding:10px;
	position:relative;
	}
img.sticky-close
	{
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
        
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA1klEQVQoz6WSOw6CQBCG90gWXsjKxph4HZAEsgUSHlsAAa6ilzDGgopxP5Ix2K7FJH/+x+wMjBERoxXH8d5aey2K4l6W5ZMCw6FtvV+Qpumlrut313UyDIOM47gWGA4Nz08QomkaadtW+r5fA9M0rQWGQ8OjYRNF0c53mxH8aLc8z8/OuYWXKDAcGh68ZAzzMwpdveFEtyzLDt6AScBwaHjwkjF++cem+6zGJEmOlDZCUx8ZU1XVS3eC9K8sGtAGcGi6M5nwYPCowR8n+HcEH8BfJxdy5B8L5i9vzgm5WAAAAABJRU5ErkJggg==') no-repeat top left;
	}
	
	
.top-right
	{ right:20px; }
.top-left
	{ left:20px; }
.top-right, .top-left
	{
	top:-2px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	}
.bottom-right
	{ right:20px; }
.bottom-left
	{ left:20px; }
.bottom-right, .bottom-left
	{
	bottom:-2px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	}

.border-top-right, .border-top-left
	{ border-top:1px solid #999; }
.border-bottom-right, .border-bottom-left
	{ border-bottom:1px solid #999; }

/************************** 404 LUck pages *******************/

div.luck-page
{
    
    margin-top:50px;
    background:#fff0f0;
    margin:2em auto;
    width:700px;


    -moz-border-radius:11px;
    -khtml-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
    border:1px solid #dfdfdf;
    padding: 0 25px;
}
div.luck-page p{font-size:12px;line-height:18px;margin:25px 0 20px;text-align:center;}
body.luck-page
{
	background:white;
	color:#333;
	padding:1em 2em;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	border:none;
        font-size:14px;
}
ol.luck-read-more
{
    width:400px;
    margin-right:350px;
    margin-top:-50px;
}
ol.luck-read-more li
{
    margin-bottom:10px;
}
.luck-forum
{
    padding-top:30px;
    color:red;
}


.luck-homepage-link
{
    display:block;
    margin:0 auto;
    width:750px;
    margin-bottom:-30px;
}


.yiiLog, .yiiLog *
{
	direction:ltr !important;
	text-align:left !important;
}
