#header
    margin 10px 0 25px 0

    .topRowHolder
        margin-bottom 5px
        position relative

        a.logo
            float left


nav.main
    float right

    ul
        list-style none
        display block
        clear both

        position absolute
        bottom 3px
        margin-bottom 0

        li

            float right
            margin-left 20px

            a
                font-size 20px
                font-weight bold
                color #005580
                display block
                text-decoration underline

                &.active
                    color black
                    text-decoration none

                &:hover
                    text-decoration none


nav.sub

    background-color #EAF1F7
    padding 5px 10px
    border-radius 7px

    ul
        list-style none
        display block
        clear both

        li
            float right
            margin-left 20px

        a.active
            color black

            &:hover
                text-decoration underline