/**************************** Header section ********************/
#header
{
  height:75px;
  border-bottom:1px solid #cccccc;
  margin:0 auto 10px auto;
}

#header .homepage-link
{
  padding-top:30px;
  display:block;
  width:257px;
  height:43px;
  float:right;
}

#header .social-buttons
{
  float: right;
  margin: 20px 20px 0 20px;
  text-align: left;

}

#header ul.header
{
  list-style: none;
  float:left;
  display:block;
  margin-top:10px;
}

#header ul li
{
  float:left;
  padding-right:20px;
}

#header ul.header a
{
  color: #211C21;
  padding:35px 10px 0 10px;
  display:block;
}
