.page-container
{
  margin:0 auto;
  width:1200px;
  min-width: 600px
}


@media (max-width: 1200px)
  .page-container
    width 1030px

@media (max-width: 1100px)
  body
    .page-container
      width 950px;
