.page-container
{
  margin:0 auto;
  width:1200px;
  min-width: 600px
}


#content
{
  width:870px;
  margin:0;
  float:right;
}


@media (max-width: 1200px)
  .page-container
    width 1030px
  #content
    width: 700px

@media (max-width: 1100px)
  .page-container
    width 950px
  #content
    width 620px
