
/************************** 404 LUck pages *******************/

div.luck-page
{

  margin-top:50px;
  background:#fff0f0;
  margin:2em auto;
  width:700px;


  -moz-border-radius:11px;
  -khtml-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:1px solid #dfdfdf;
  padding: 0 25px;
}
div.luck-page p{font-size:12px;line-height:18px;margin:25px 0 20px;text-align:center;}
body.luck-page
{
  background:white;
  color:#333;
  padding:1em 2em;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  border:none;
  font-size:14px;
}
ol.luck-read-more
{
  width:400px;
  margin-right:350px;
  margin-top:-50px;
}
ol.luck-read-more li
{
  margin-bottom:10px;
}
.luck-forum
{
  padding-top:30px;
  color:red;
}


.luck-homepage-link
{
  display:block;
  margin:0 auto;
  width:750px;
  margin-bottom:-30px;
}