/*********************************** SANDBOX - PHPLIVE *************************/

#sandboxarea
{
  width:100%;
  padding-left:3px;
  margin:10px 0;

}

#sandboxresponse
{
  padding:3px;
  background-color:#fff9ba;
  border: 1px dashed green;

}


.phplive-sidebar h3
{
  color:#5782b8;
  margin-bottom:5px;
}
