



/* Corols Drop Down Menu */
/* #9B9B9B; #F0F8FF */
.anylinkmenu
{
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  border: 1px solid #9B9B9B;
  font: normal 12px Verdana;
  line-height: 18px;
  background: #F0F8FF;
  width:120px;
}

.anylinkmenu ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.anylinkmenu ul li a
{
  width: 100%;
  display: block;
  text-indent: 3px;
  padding: 2px 0;
  text-decoration: none;
  text-indent: 5px;
}

.anylinkmenu a:hover{ background:#FFFFCC; }